.pocketNote{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 31.5195px;
line-height: 37px;
/* identical to box height */

letter-spacing: 0.02em;
margin-top: 30px;
margin-left: 24px;

color: #000000;
}
.addGroups{
    display: flex;
    background: black;
border-radius: 50px;
width: 300px;
height: 51px;
margin-right: 8px;
margin-top: 54px;
margin-left: 44px;
align-items: center;
/* justify-content: center; */
}
.plus{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 10.714px;
line-height: 97.69%;
/* identical to box height, or 40px */
margin-right: 38px;
letter-spacing: 0.02em;

color: white;
width: 23px;
height: 40px;
margin-left: 40px;
}
span{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 97.69%;
/* or 26px */

letter-spacing: 0.02em;

color: #FFFFFF;

}

.popupoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupmodal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 740px;
    height: 317px;
  }
  
  .popupmodal h2 {
    margin-top: 0;
  }
  
  .popup-modal p {
    margin-bottom: 10px;
  }
  

  .app-main{
    width: 100%;
    height: 100vh;
  
  }
  .app-saved-notes
   {
    height: 80vh;
  }
  .app-enter-notes{
height: 20vh;
  }

  textarea {
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
    height: calc(50vh - 130px);
    padding: 10px;
    resize: none;
    font-size: inherit;
    font-family: inherit;
  }

  .no-active-note {
    width: 70%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 2rem;
    color: #999;
  }