.appmain{
    width: 100%;
    height: 100vh;
  
  }
  .appsavednotes
   {

    height: 80vh;
  }
  .appenternotes{
    width: 100%;
height: 20vh;
  }

  textarea {
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
    height: calc(50vh - 130px);
    padding: 10px;
    resize: none;
    font-size: inherit;
    font-family: inherit;
  }

  .no-active-note {
    width: 70%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 2rem;
    color: #999;
  }